In [1]:
print("hello world!")

hello world!

In [2]:
1 + 2

3

In [3]:
def hello():
    print("Hello world")

In [4]:
hello()

Hello world

In [5]:
hello()

Hello world

In [6]:
name = "Dave"
print("Hello", name)

Hello Dave

In [7]:
name = "John"
print("Hello", name)

Hello John

In [8]:
def hello(name):
    print(f"Hello {name}!")

In [9]:
hello("Dave")

Hello Dave!

In [10]:
hello("John")

Hello John!

In [11]:
def square(n):
    return n*n

In [12]:
square(2)

4

In [13]:
square(3)

9

In [14]:
numbers = list(range(0, 17))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [15]:
[
    square(num)
    for num in numbers
]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

In [16]:
[
    square(num)
    for num in range(9)
]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [17]:
squares_list = [
    square(num)
    for num in range(9)
]
for num in squares_list:
    print(num)

0
1
4
9
16
25
36
49
64

In [20]:
for num in map(square, range(3, 9)):
    print(num)

9
16
25
36
49
64

In [26]:
(lambda x, y: x * y)(3, 4)

12

In [33]:
r = map(square, [3,4,5])
print(r)
print(next(r))
print(next(r))

<map object at 0x105513a90>
9
16

In [34]:
print(next(r))

25

In [35]:
nums = [3, 5, 7, 9]
powers = [4, 2, 0, 3]

In [37]:
powers_list = []
for n, p in zip(nums, powers):
    powers_list.append(n ** p)

powers_list

[81, 25, 1, 729]

In [38]:
for res in map(lambda n, p: n ** p, nums, powers):
    print(res)

81
25
1
729

In [41]:
list(map(lambda n, p: n ** p, nums, powers))

[81, 25, 1, 729]

In [40]:
[n ** p for n, p in zip(nums, powers)]

[81, 25, 1, 729]

In [42]:
(n ** p for n, p in zip(nums, powers))

In [43]:
def my_map(func, *collections):
    for values in zip(*collections):
        yield func(*values)

In [46]:
def power_num(n, p):
    return n ** p
list(my_map(power_num, nums, powers))

[81, 25, 1, 729]

In [47]:
list(my_map(lambda n, p: n ** p, nums, powers))

[81, 25, 1, 729]

In [48]:
from timeit import timeit
help(timeit)

Help on function timeit in module timeit:

timeit(stmt='pass', setup='pass', timer=<built-in function perf_counter>, number=1000000, globals=None)
    Convenience function to create Timer object and call timeit method.

In [57]:
timeit(
    'list(map(lambda n, p: n ** p, nums, powers))', 
    number=5_000_000,
    globals={
        "nums": nums, 
        "powers": powers,
    },
)

4.940590291982517

In [60]:
timeit(
    'list(map(func_power, nums, powers))', 
    number=5_000_000,
    globals={
        "nums": nums, 
        "powers": powers,
        "func_power": lambda n, p: n ** p,
    },
)

4.711738250043709

In [61]:
def power_num(n, p):
    return n ** p

timeit(
    'list(map(power_num, nums, powers))', 
    number=5_000_000,
    globals={
        "nums": nums, 
        "powers": powers,
        "power_num": power_num,
    },
)

4.639729332993738

In [62]:
import sys

In [64]:
sys.getsizeof(power_num)

144

In [65]:
sys.getsizeof(lambda n, p: n ** p)

144

In [66]:
power_num.qwerty = "abc"
sys.getsizeof(power_num)

144

In [67]:
list(filter(lambda x: x % 2 == 0, range(11)))

[0, 2, 4, 6, 8, 10]

In [69]:
list(filter(lambda x: x % 2, range(11)))

[1, 3, 5, 7, 9]

In [70]:
10 % 2

0

In [71]:
11 % 2

1

In [72]:
11 % 3

2

In [73]:
def domain_is_gmail(email: str) -> bool:
    return email.endswith("@gmail.com")

emails = [
    "qwerty@gmail.com",
    "abc@gmail.com",
    "abc@qwe.com",
    "john@qwe.com",
    "john@gmail.com",
]

list(filter(domain_is_gmail, emails))

['qwerty@gmail.com', 'abc@gmail.com', 'john@gmail.com']

In [74]:
list(filter(lambda e: e.endswith("@gmail.com"), emails))

['qwerty@gmail.com', 'abc@gmail.com', 'john@gmail.com']

In [75]:
"asdf".upper()

'ASDF'

In [76]:
"asfASdf".lower()

'asfasdf'

In [79]:
names = [
    "bob smith",
    "JamEs Gold",
    "Kate white",
    "nick BlaCk",
]
names

['bob smith', 'JamEs Gold', 'Kate white', 'nick BlaCk']

In [80]:
"sOmE naMe".title()

'Some Name'

In [81]:
str.title("sOme NAME")

'Some Name'

In [82]:
list(map(str.title, names))

['Bob Smith', 'James Gold', 'Kate White', 'Nick Black']

In [83]:
list(map(lambda s: s.title(), names))

['Bob Smith', 'James Gold', 'Kate White', 'Nick Black']

In [84]:
timeit(
    'list(map(str.title, names))', 
    number=5_000_000,
    globals={
        "names": names,
    },
)

2.478553084016312

In [85]:
timeit(
    'list(map(lambda s: s.title(), names))', 
    number=5_000_000,
    globals={
        "names": names,
    },
)

3.3784505830262788

In [86]:
3.3784505830262788 / 2.478553084016312

1.3630737242680917

In [87]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [88]:
sum(numbers)

136

In [89]:
nums = range(1, 5)

In [90]:
from functools import reduce

In [91]:
reduce(lambda x, y: x * y, nums)

24

In [99]:
def my_mul(x, y):
    result = x * y
    print(f"mul {x=} * {y=} -> {result=}")
    return result

In [100]:
my_mul(2, 3)

mul x=2 * y=3 -> result=6

6

In [102]:
print(list(nums))
reduce(my_mul, nums)

[1, 2, 3, 4]
mul x=1 * y=2 -> result=2
mul x=2 * y=3 -> result=6
mul x=6 * y=4 -> result=24

24

In [104]:
nums = range(2, 7)
reduce(my_mul, nums, 10)

mul x=10 * y=2 -> result=20
mul x=20 * y=3 -> result=60
mul x=60 * y=4 -> result=240
mul x=240 * y=5 -> result=1200
mul x=1200 * y=6 -> result=7200

7200

In [105]:
reduce(my_mul, nums)

mul x=2 * y=3 -> result=6
mul x=6 * y=4 -> result=24
mul x=24 * y=5 -> result=120
mul x=120 * y=6 -> result=720

720

In [110]:
nums = range(2, 7)

timeit(
    'reduce(mul_func, nums)',
    setup='from functools import reduce',
    number=5_000_000,
    globals={
        "nums": nums,
        "mul_func": lambda x,y: x*y,
    },
)

1.448234457988292

In [111]:
from operator import mul

In [113]:
reduce(mul, nums, 10)

7200

In [115]:
nums = range(2, 7)

timeit(
    'reduce(mul, nums)',
    setup='from functools import reduce; from operator import mul',
    number=5_000_000,
    globals={
        "nums": nums,
    },
)

0.7757243330124766